
@media (max-width: 1799px) {
    .main-menu > ul > li > a {
        font-size: 13.5px;
    }
    .main-menu > ul {
        gap: 25px;
        display: flex;
    }
    .s-menu li a {
        font-size: 15.5px;
    }
    .s-menu {
        gap: 16px;
    }
    .header__logo {
        width: 190px;
    }
    .main-menu {
        margin-right: 30px;
    }
    .header-in {
        padding: 15px 0;
    }


    .hero__card__content h2 {
        font-size: 30px;
        letter-spacing: 1px;
        margin: 0 0 30px;
    }
    .hero__card__content h4 {
        font-size: 18px;
        margin: 0 0 20px;
    }
    .hero__card--1 .hero__card__content h2 {
        margin: 0 0 55px;
    }
    .hero__card {
        min-height: 440px;
    }
    .hero__card--1 {
        min-height: 660px;
    }



    .h2 {
        font-size: 30px;
        margin: 0 0 10px;
    }
    .h4 {
        font-size: 17px;
        margin: 0 0 16px;
    }
    .default-button {
        font-size: 13px;
        min-height: 28px;
        padding: 4px 16px;
    }
    .default-button--big {
        min-height: 46px;
        padding: 5px 17px;
        border-width: 2px;
        font-size: 17px;
    }
    .default-button--big {
        min-height: 40px;
        padding: 4px 12px;
        border-width: 1px;
        font-size: 15px;
    }
    .gift-section {
        padding: 50px 0 60px;
    }
    .gift-section__title .h2 {
        margin: 0 0 22px;
    }
    .tab-nav-button li a {
        font-size: 14px;
        min-height: 30px;
        min-width: 110px;
        padding: 4px 10px;
    }
    .tab-nav-button {
        gap: 20px;
    }
    .sec-title {
        margin-bottom: 35px;
    }
    .product-card__wrapper {
        grid-gap: 18px;
    }
    .product-card__content__bottom .default-button {
        min-width: 105px;
    }
    .product-card__content h3 {
        font-size: 16px;
        margin: 0 0 12px;
    }
    .product-card__content h5 {
        font-size: 12px;
    }
    .product-card__content__bottom {
        padding: 30px 0 0;
    }
    .product-card__content {
        padding: 8px 15px 20px;
    }


    .contact__form {
        padding: 30px 40px 35px;
        width: 420px;
    }
    .contact__form__title h3 {
        font-size: 19px;
    }
    .xl-label {
        font-size: 16px;
        width: 85px;
    }
    .contact__form__bottom {
        padding: 25px 0 0 91px;
    }
    .contact-section {
        padding: 80px 0;
    }

    
    .sm-section {
        padding: 45px 0;
    }
    .sm-card__wrapper {
        grid-gap: 7px;
    }

    .cta-section {
        padding: 45px 0;
    }
    .cta-box__left h3 {
        font-size: 20px;
    }
    .cta-box {
        padding: 40px 45px;
        gap: 70px;
    }    
    .cta-form {
        height: 43px;
        gap: 1px;
        width: 450px;
    }
    .cta-form .input {
        font-size: 16px;
        padding: 8px 15px;
    }
    .cta-form .submit .plane {
        width: 13px;
    }
    .cta-form .submit {
        font-size: 16px;
        gap: 12px;
        padding: 8px 14px;
    }


    .footer-logo {
        margin: 0 0 16px;
        width: 190px;
    }
    .fl-menu li a {
        font-size: 13.5px;
    }
    .fl-menu {
        gap: 20px;
    }
    .f-menu li a {
        font-size: 13.5px;
        gap: 8px;
    }
    .f-menu {
        gap: 10px;
    }
    .f-menu li a .icon {
        width: 15px;
    }
    .footer__top__right {
        gap: 25px;
    }
    .footer__top {
        padding: 40px 0 25px;
    }
    .copy-right {
        gap: 15px;
        font-size: 14px;
    }
    .footer__bottom {
        padding: 22px 0;
    }


    .page-hero__content {
        min-height: 300px;
        padding: 35px;
    }
    body {
        font-size: 17px;
    }
    .about-section {
        padding: 25px 0;
    }
    .about__texts__box {
        padding: 20px;
    }
    .about__texts {
        margin: 0 0 30px;
    }

    .contact__right__diamond {
        padding: 25px;
    }
    .contact__right__diamond__top h3 {
        font-size: 18px;
        margin: 0 0 20px;
    }
    .diamond__option .image {
        width: 120px;
    }
    .diamond__option h4 {
        font-size: 15px;
    }
    .contact__right__diamond__bottom .diamond-details {
        width: 240px;
    }
    .h3 {
        font-size: 26px;
    }
    .contact__right__diamond__bottom {
        margin: 30px 0 0;
        gap: 30px;
    }
    .diamond__tc .bottom-button {
        margin-top: 20px;
    }
}


@media (max-width: 1399px) {
 
}


@media (max-width: 1199px) {
    .product-card__wrapper {
        grid-template-columns: repeat(4,1fr);
    }

    .cta-box__left h3 {
        font-size: 17px;
    }
    .cta-box__left {
        width: 42%;
    }
    .cta-form {
        width: 420px;
    }

    .diamond__option .image {
        width: 100px;
    }
    .diamond__option h4 {
        font-size: 12px;
    }
    .contact__right__diamond__bottom .diamond-details {
        width: 180px;
    }
}


@media (max-width: 991px) {
    .hero__card {
        min-height: 350px;
    }
    .hero__card--1 {
        min-height: 480px;
    }

    .product-card__wrapper {
        grid-template-columns: repeat(3,1fr);
    }


    .cta-box {
        gap: 30px;
        flex-wrap: wrap;
    }
    .cta-box__left {
        width: 100%;
    }
    .cta-box__right {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer__top {
        flex-direction: column;
        gap: 20px;
    }
    .footer__top__right {
        gap: 20px;
        align-items: flex-start;
    }
    .copy-right {
        gap: 10px;
        flex-direction: column;
    }
    .copy-right .inner-line {
        display: none;
    }

    .contact__right__diamond {
        position: static;
        width: 420px;
        max-width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),0 0 25px rgba(0, 0, 0, 0.2);
        padding: 25px 10px;
    }
    .contact-section__inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .contact__left__map {
        width: 100%;
    }
    .contact__right__diamond__bottom {
        margin: 20px 0 0;
        gap: 5px;
    }
}


@media (max-width: 768px) {
    .header-in {
        padding: 12px 0;
    }

    .hero__card--2 {
        width: 100%;
    }
    .hero__card--3 {
        width: 100%;
    }
    .hero__card__content h2 {
        font-size: 25px;
        letter-spacing: 1px;
        margin: 0 0 20px;
    }
    .hero__card__content {
        padding: 20px;
    }
    .hero__card {
        min-height: 250px;
    }
    .hero__card--1 .hero__card__content h2 {
        margin: 0 0 40px;
    }
    .hero__card--1 {
        min-height: 320px;
    }

    .tab-nav-button {
        gap: 15px;
    }
    .gift-section__title .h2 {
        margin: 0 0 18px;
    }
    .h2 {
        font-size: 25px;
        margin: 0 0 10px;
    }
    .product-card__wrapper {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 12px;
    }
    .sec-title {
        margin-bottom: 30px;
    }
    .contact__form {
        padding: 25px 20px 30px;
    }
    .cta-box {
        padding: 30px 30px;
        gap: 22px;
    }


    .page-hero__content {
        min-height: 200px;
        padding: 25px 0;
    }
    body {
        font-size: 15px;
    }
    .diamond__options__wrap {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .contact__right__diamond__top h3 {
        text-align: center;
    }
    .contact__right__diamond__bottom {
        margin: 30px 0 0;
        gap: 25px;
        flex-direction: column;
    }


}


@media (max-width: 575px) {
 
}


@media (max-width: 370px) {
    .hero__card__content h2 {
        font-size: 22px;
    }
    .h2 {
        font-size: 22px;
    }
    .tab-nav-button {
        gap: 10px;
    }
    .cta-box {
        padding: 25px 15px;
        gap: 22px;
    }
}
